@import '~bootstrap/scss/bootstrap';

$body-font: Telex, Arial, Helvetica, sans-serif;
$title-font: Inter, Arial, Helvetica, sans-serif;
$code-font: 'Fira Code', 'Courier New', Courier, monospace;

$body-font-size: 1rem;

$body-color: #FFFFFFFF;
$link-color: #9ab0ea;
$link-color-hover: #7f9de8;
$code-color: #cdcddc;

$body-background-color: #000000FF;
$secondary-background-color: #141414FF;

:root {
  --bs-body-bg: #{$body-background-color};
  --bs-body-color: #{$body-color};
  --bs-code-color: #{$code-color};
  --bs-font-monospace: #{$code-font};
  --bs-font-sans-serif: #{$body-font};
  --bs-link-color-rgb: #{$link-color};
  --bs-link-hover-color-rgb: #{$link-color-hover};  
  --bs-secondary-bg: #{$secondary-background-color};
  --font-family-monospace: #{$code-font};
  --font-family-sans-serif: #{$body-font};
}

@mixin body-text {
  font-family: $body-font;
  font-size: $body-font-size;
}

@mixin title-text {
  font-family: $title-font;
  font-weight: 300;

  strong, b {
    font-family: normal;
  }
}

@mixin code-text {
  font-family: $code-font;
}

body {
  @include body-text;
  color: $body-color;
  background-color: $body-background-color;
  font-size: 20px; // 1rem is relative to this, so we have to set it explicitly
}

a {
  color: $link-color;
}

a:hover {
  color: $link-color-hover;
}

%header {
  @include title-text;
}

h1 {
  @extend %header;
  font-size: 2.5rem;
  font-weight: normal;
  text-transform: uppercase;

  strong, b {
    font-weight: bold;
  }
}

h2 {
  @extend %header;
  font-size: 2rem;
  font-weight: normal;

  strong, b {
    font-weight: bold;
  }
}

h3 {
  @extend %header;
  font-size: 1.7rem;
  font-weight: normal;

  strong, b {
    font-weight: bold;
  }
}

h4 {
  @extend %header;
  font-size: 1.7rem;
}

h5 {
  @extend %header;
  font-size: 1.5rem;
}

h6 {
  @extend %header;
  font-size: $body-font-size;
}

.title-text {
  @include title-text;
}

.code, code, pre {
  @include code-text;
}

blockquote {
  padding-left: 0.5rem;
  border-left-color: #333;
  border-left-style: solid;
  border-left-width: 5px;
  margin-left: 0.5rem;
}

%transparent-button {
  --bs-btn-padding-x: 0;
  --bs-btn-padding-y: 0;
  background: none;
  border: none;

  img, svg {
    vertical-align: baseline;
  }
}

.nav-tabs {
  --bs-nav-link-color: #{$body-color};
  --bs-nav-link-hover-color: #{$body-color};
  --bs-nav-tabs-border-radius: 0;
  --bs-nav-tabs-link-active-color: #{$body-color};
  --bs-nav-tabs-link-active-bg: #{$secondary-background-color};
  --bs-nav-tabs-link-active-border-color: white;
  --bs-nav-tabs-link-hover-border-color: white;

  .nav-link {
    transition: none;
  }

  .nav-link:not(.active):hover {
    border-style: dashed;
  }
}

@mixin blog-body {
  max-width: 800px;
  padding-left: 1rem;
  padding-right: 1rem;

  a {
    color: #1f1fbb;
  }

  a:hover {
    color: #1f1fbb;
  }

  img {
    margin: 0 auto;
    display: block;
  }

  code, pre {
    --bs-code-color: #666680;
  }

  code.language-mermaid {
    display: block;

    svg {
      display: block;
      margin: 0 auto;
    }
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  
    li:before {
      content: "▪";
      padding-right: 0.5rem;
    }
  
    li {
      padding-left: 1.5rem;
      text-indent: -1rem;
    }
  }  
}
