/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import './base';

.admin-tree {
  max-width: 800px;
  margin: 0 auto;
  text-overflow: ellipsis;

  .category-node, .post-node {
    border-bottom-color: grey;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 3px 15px;

    [class^='col'], [class*=' col'] {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .label {
      padding-left: 12px;
    }

    .title {
      .value {
        @include title-text;
      }
    }

    .published {
      @include title-text;
    }

    :not(:last-child) {
      margin-bottom: 3px;
    }
  }

  .category-node {
    .open-toggle {
      @extend %transparent-button;
      width: 20px;
      height: 20px;
    }
  }
}

.category-editor {
  height: 100%;
  max-height: 100vh;

  .row {
    max-height: inherit;
  }

  .category-editor-input, .category-editor-preview {
    height: 100%;
    max-height: inherit;
    padding: 10px;
    overflow-y: scroll;
  }

  .category-editor-input {
    .editor-syntax-help-button {
      @extend %transparent-button;
      height: 2.5rem;
      width: 1.5rem;
    }

    textarea {
      font-family: $code-font;
    }
  }
}

#editor-syntax-help {
  --bs-popover-border-color: white;
  --bs-popover-font-size: 0.8rem;
  --bs-popover-header-font-size: 1rem;
  --bs-popover-max-width: 33vw;
  font-family: $body-font;
}
