/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import './base';

.admin-tree {
  max-width: 800px;
  margin: 0 auto;
  text-overflow: ellipsis;

  .category-node, .post-node {
    border-bottom-color: grey;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 3px 15px;

    [class^='col'], [class*=' col'] {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .label {
      padding-left: 12px;
    }

    .title {
      .value {
        @include title-text;
      }
    }

    .published {
      @include title-text;
    }

    :not(:last-child) {
      margin-bottom: 3px;
    }
  }

  .category-node {
    .open-toggle {
      border: none;
      background: none;
      width: 20px;
      height: 20px;
      --bs-btn-padding-x: 0;
      --bs-btn-padding-y: 0;

      img, svg {
        vertical-align: baseline;
      }
    }
  }
}

.category-editor {
  height: 100%;

  .category-editor-input, .category-editor-preview {
    height: 100%;
    padding: 10px;
  }

  .category-editor-input textarea {
    font-family: $code-font;
  }
}
