/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import './base';

$admin-header-height: 80px;

.admin {
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  max-height: 100vh;

  display: flex;
  flex-flow: column;

  .admin-header {
    flex: 0 1 auto;
    margin: 0 0 auto 8px;
    padding: 10px 10px 10px 4px;
    border-bottom-color: grey;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    min-height: $admin-header-height;
    max-height: $admin-header-height;

    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;

    h1 {
      text-overflow: ellipsis;
    }
  }

  .admin-main {
    flex: 1 1 auto;

    min-height: calc(100% - $admin-header-height);
    max-height: calc(100% - $admin-header-height);

    display: flex;
    flex-flow: row;
    align-items: stretch;

    .admin-sidebar {
      flex: 1 1 0;
      padding-top: 20px;

      border-right-color: grey;
      border-right-width: 0.5px;
      border-right-style: solid;
    
      padding-right: 10px;
      margin-right: 10px;
    
      .navbar-nav {
        flex-direction: column;
        text-wrap: balance;
        text-align: right;

        min-width: 200px;
        max-width: 200px;

        --bs-nav-link-color: #{$body-color};
        --bs-navbar-hover-color: #{body-color};
        --bs-navbar-disabled-color: grey;
        --bs-navbar-active-color: #{$body-color};
        
        .active {
          background-color: #303030;
        }

        button.nav-link, .logout-button {
          // This is needed because the text-align: right above doesn't apply
          // to the logout button.
          text-align: right;
        }
      }
    }  
  
    .admin-body {
      flex: 5 1 auto;
      padding-top: 20px;

      display: flex;
      flex-flow: column;
    
      .admin-toasts {
        flex: 0 1 auto;
        padding: 0 10px;

        .toast-container {
          position: static;
          width: 100%;

          display: flex;
          flex-flow: row wrap;
          gap: 10px;
          align-items: stretch;
          align-content: flex-start;
          justify-content: flex-start;

          .toast {
            flex: 0 0 auto;
            width: fit-content;
            min-width: calc(33% - 5px);

            border-radius: 0;
            margin-bottom: unset;

            .toast-header {
              border-radius: 0;

              svg, img {
                margin-right: 7px;
                margin-bottom: 4px;
              }

              .btn-close {
                margin-left: auto;
              }
            }
          }
        }
      }
    
      .admin-content {
        flex: 1 1 auto;
        overflow-y: scroll;
      }
    }
  }
}

@media(max-width: 900px) {
  .admin {
    .admin-main {
      flex-flow: column;

      .admin-sidebar {
        flex: 0 1 auto;
        max-width: 100%;

        border-right: none;
        border-bottom-color: grey;
        border-bottom-width: 0.5px;
        border-bottom-style: solid;

        padding: 10px;
        margin-bottom: 10px;

        .navbar-nav {
          min-width: 100%;
          flex-flow: row wrap;
          text-align: left;

          // Not actually used, but if I make changes, this is the
          // styling that I'm going to expect in the future
          button.nav-link, .logout-button {
            text-align: left;
          }

          .nav-link:last-child {
            margin-left: auto;
            text-align: right;
          }
        }
      }

      .admin-body {
        flex: 1 0 auto;
        align-self: stretch;

        .admin-content {
          // Fixes an issue with computing children elements' heights
          // See https://stackoverflow.com/a/21836870/473792
          height: 1px;
        }
      }
    }
  }
}

.admin-tree-wrapper {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  
  .admin-tree {
    text-overflow: ellipsis;

    .post-node {
      border-bottom-color: grey;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      padding: 3px 15px;

      [class^='col'], [class*=' col'] {
        overflow: hidden;
        display: -webkit-box;
        line-clamp: 1;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      .label {
        padding-left: 12px;
      }

      .title {
        .value {
          @include title-text;
        }
      }

      .published {
        @include title-text;
      }

      :not(:last-child) {
        margin-bottom: 3px;
      }

      .open-toggle {
        @extend %transparent-button;
        width: 20px;
        height: 20px;
      }
    }
  }
}

.post-editor {
  .row {
    max-height: inherit;
    margin: 1rem 0;
  }

  .text-group, .number-group, .select-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;

    label {
      flex: 0 0 auto;
    }

    input, select {
      flex: 1 1 auto;
      margin-left: 1rem;
    }

    svg, img {
      flex: 0 0 1;
      margin-left: 1rem;
    }
  }

  .button-group {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer {
    text-align: end;

    .delete-button {
      margin-right: 3rem;
      background-color: red;
    }
  }
}

.post-markdown-editor {
  height: 80vh;
  max-height: 80vh;

  .row {
    height: 100%;
  }

  .editor-input, .editor-preview {
    height: 100%;
    max-height: inherit;
    padding: 10px;
    overflow-y: scroll;
  }

  .editor-input {
    display: flex;
    flex-flow: column;

    .editor-syntax-help-button {
      width: fit-content;
      margin-top: 1rem;
    }

    h2 {
      flex: 0 0 fit-content;
    }

    textarea {
      flex: 1 1 auto;
      font-family: $code-font;
    }
  }

  .editor-preview-wrapper {
    display: flex;
    flex-flow: column;
    max-height: 100%;

    h2 {
      flex: 0 1 auto;
    }

    .editor-preview {
      background-color: white;
      color: black;
      flex: 1 1 auto;

      .editor-preview-content {
        @include blog-body;
        padding: 1rem;
      }
    }
  }
}

@media(max-width: 900px) {
  .post-markdown-editor {
    height: 50vh;
    min-height: 50vh;
  }
}

.popover {
  --bs-popover-border-color: white;
  --bs-popover-font-size: 0.8rem;
  --bs-popover-header-font-size: 1rem;
  font-family: $body-font;
} 


#editor-syntax-help {
  --bs-popover-max-width: 33vw;
}

@media(max-width: 900px) {
  #editor-syntax-help {
    --bs-popover-max-width: 50vw;
  }
}

#delete-post-and-children-confirmation {
  .popover-body .row:first-of-type {
    margin-bottom: 1rem;
  }
}

.invalid-icon {
  color: red;
}

.invalid-reason {
  --bs-tooltip-color: #{$body-color};
  --bs-tooltip-bg: #{$body-background-color};
  font-family: $body-font;
  color: $body-color;
}
