/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import './base';

$banner-height: 60px;

.blog {
  header {
    .blog-nav {
      min-height: $banner-height;
    }
  }

  .blog-content {
    background-color: white;
    color: black;

    .blog-header-image {
      min-height: calc(100vh - $banner-height);
      position: relative;
      display: flex;
      align-items: center;

      background-color: white;
      background-attachment: fixed;
      background-image:
        linear-gradient(#0004, #0004),
        url('/images/default-page-header-image.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 21% top;

      .blog-title {
        flex: 0 1 30%;
        margin: 0 auto;
        padding: 32px;
        background-color: white;
        color: black;

        h1 {
          margin-bottom: 0.5rem;
        }

        h2 {
          border-top-color: black;
          border-top-width: 1px;
          border-top-style: solid;
          font-size: 1.4rem;
          padding-top: 0.3rem;
        }
      }
    }

    .blog-body {
      margin: 0 auto;
      max-width: 800px;
      padding: 5rem 0;
    }
  }

  footer {
    margin: 2rem auto 2rem auto;
    font-size: 0.8rem;
    width: fit-content;
    text-align: center;

    p {
      margin-bottom: 0.5rem;
    }

    img {
      object-fit: contain;
      height: 1.5rem;
    }
  }
}
